[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName             = "BR"
stateOrProvinceName     = "SP"
localityName            = "Sao Paulo"
organizationName        = "Quanto"
commonName              = "mock.tsp.dev.contaquanto.net"
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = mock.tsp.dev.contaquanto.net